<% include partials/header.ejs%>
<div style="height: 100vh;" id="article">
    <h1>A Little Background on Achrei Mot</h1>
    <p style="background-color:#FCFCF6; line-height: 35px; font-size: 18px; padding: 50px;">Achrei Mot is an essential part of Jewish History and belief. It is based on how there is a "holy place" which plays a big role in this portion. First, Aaron's eldest sons die because they went too close to the L-rd. To add, Aaron's sons that died were named Nadav and Avihu.  Then, G-d warns all people not to go near the Holy Place. Except for one person. That one person may only enter the Holy Place once a year and that person is called, High Priest. That one person may only enter on one special day which is, Yom Kippur. Moving on, I see a theme of, one has to be careful of what that person
    does. I think this is a very important peice of life that one should know. I am not saying that people shouldn't take risks, they should. But, what I am saying, is that people have to chose their risks that they take wisely. Then, a Rabbi named Rabbi Shlomo Riskin, has a slightly different take on it than I do. He believes that, to earn freedom, one needs to prove themselves by showing their responsibility. Which I fully respect and understand that and think that is how people nowadays should think about freedom. One connection that I can make from Achrei Mot to the real world is having a prison sentence. I think both are related because with Achrei Mot, to have freedom one needs to hold themselves back from the Holy Place. In the case of being in prison it would be holding themselves back from getting into trouble will earn one freedom. Also, both are related because both are like restraining oneself from danger. Lastly, I can see "do justice" in Achrei Mot. I see this because one would be doing good, fair, and just things to not get in trouble. Just like going into the Holy Place which would get one into trouble.</p>
    <a href="/q1#q1">Continue</a>
</div>
<div class="quizForm">
    <form action="/q1" method="POST">
        <h3><%= question.question%></h3>
        <input id="q1" name="answer" placeholder="Put letter of answer here.">
        <h1>A. G-d warned them because he wanted to leave the Holy Place for him/herself.</h1>
        <h1>B. G-d warned them because they would die if they entered.</h1>
        <h1>C. G-d warned them becuase they wouldn't be able to speak after they entered.</h1>
        <h1>D. G-d warned them becuase they would become a high power like him/her.</h1>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<% include partials/footer.ejs%>